# Data Science TASK 1

## A. Student Scores Tracker

In [1]:
#1.Creating a list of scores

Test_scores = [65, 78, 90, 55, 88, 72]

In [2]:
#2.The highest score

Highest_score = max(Test_scores) 

print(Highest_score)

90

In [3]:
#3.The lowest score

Lowest_score = min(Test_scores) 

print(Lowest_score)

55

In [4]:
 #4.The average score

Average_score = sum(Test_scores)/len(Test_scores)

In [5]:
print(Average_score)

74.66666666666667

In [6]:
#5.Updating the list using append

Test_scores.append(80)

In [7]:
#6.Removing the failed score from the list

#Assuming the failing score < 60

Test_scores.remove(55)

In [8]:
#7.Final Test_scores list

print(Test_scores)

[65, 78, 90, 88, 72, 80]

## B. Shopping Cart System

In [9]:
#1.Creating a list of items

Shopping_list = ["rice", "beans", "oil", "tomatoes"]

In [10]:
#2.Adding two items to the list using append

Shopping_list.append("maize")
Shopping_list.append("onion")

In [11]:
print(Shopping_list)

['rice', 'beans', 'oil', 'tomatoes', 'maize', 'onion']

In [12]:
#3.Removing item from the list using remove

#Assuming the customer doesn't want maize anymore

Shopping_list.remove("maize")

In [13]:
print(Shopping_list)

['rice', 'beans', 'oil', 'tomatoes', 'onion']

In [14]:
#4.Total number of items in current list

len(Shopping_list)

5

## C. Daily Tempreture Records

In [15]:
#Creating a tuple containing tempretures for days of a week

#Assuming it is in order starting from Monday

Temp_tuple = 28, 30, 31, 29, 27

In [16]:
#1.Tempreture for Wednesday

Temp_tuple[2]

31

In [20]:
#2.The highest tempreture

Highest_temp = max(Temp_tuple)

print(Highest_temp)

31

In [21]:
#3.The lowest tempreture

Lowest_temp = min(Temp_tuple)

print(Lowest_temp)

27

#4.Why a tuple is better than a list for storing weather data

Tuples are immutable, meaning the the recorded tempretures cannot be accidentally changed after being logged, ensuring data integrity and consistency for historical records.